.container {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    width: 12rem;
    height: 3rem;
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: 0.5s ease-in-out;

}

.container:hover {

    transform: translateX(-8.8em);
    background-color: black;
}

.name {
    font-size: 1.5rem;
    color: #f0f0f0;
    text-decoration: none;

}

.iconLink {
    text-decoration: none;
    padding-right: 5%;

}

.icon {
    color: #f0f0f0;
    font-size: 2rem;
}

.copyIcon {
    color: #f0f0f0;
    font-size: 1.5rem;

}

.clipBoard {
    color: #f0f0f0;
    font-size: 1.5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}


@media only screen and (max-width:480px) {

    /* phone */
    .container {
        padding: 10px;
    }

    .name {
        font-size: 1rem;
    }

    .icon {
        font-size: 1.3rem;
    }

    .copyIcon {
        color: #f0f0f0;
        font-size: 1rem;
    }


    .container {
        width: 10rem;
    }

    .container:hover {
        transform: translateX(-6.8em);
    }

    .clipBoard {
        font-size: 1rem;
    }

}