.welcomeText {
    font-size: 1.3rem;
    color: aliceblue;
    width: 70%;
    text-align: center;
}

.main img {
    max-width: 300px;
    width: 30vw;
    border-radius: 50%;
    outline: green solid 4px;
    margin-bottom: 5%;

}


@media only screen and (max-width:480px) {

    /* phone */
    .welcomeText {
        font-size: 1rem;
        color: aliceblue;
        width: 70%;
        text-align: center;
    }
}

@media only screen and (min-width:480px) and (max-width: 599px) {

    /* tablet or big phone */
    .welcomeText {
        font-size: 1.2rem;
        color: aliceblue;
        width: 70%;
        text-align: center;
    }
}


@media only screen and (max-height:480px) {

    /* ultra short screen */

    .welcomeText {
        font-size: 1rem;
        width: 70%;
        text-align: center;
    }

    .main img {
        display: none;

    }

}

@media only screen and (min-height:480px) and (max-height: 599px) {

    /*short screen */
    .welcomeText {
        font-size: 1rem;
        width: 70%;
        text-align: center;
    }

}