.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    width: 100%;
    height: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.displayImageContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    margin-bottom: 5vh;
}

.displayImage {
    object-fit: contain;
    width: 100vw;
}

.incBtn,
.decBtn {
    position: absolute;
    height: 100%;
    width: 10%;
    z-index: 20;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 2rem;
}

.incBtn {
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.decBtn {
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.incBtn:hover,
.decBtn:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer
}

.slideContainer {
    display: flex;
    transition: 0.3 ease-in-out;
}

.slides {
    height: 6vh;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-top-width: 4px;
    transition: 0.3 ease-in-out;
    overflow: hidden;
}

.slides:hover {
    opacity: 0.7;
}

.modalName {
    font-size: 1.3rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 1%;
    margin: 2vh 1vw 1vh 1vw;
}

.modalContent {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 2%;
    margin: 1vh 1vw 1vh 1vw;
}

.closeBtn {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 3rem;
    color: white;
    background-color: transparent;
    border: none;
    transition: 0.3s ease-in-out;
}

.closeBtn:hover {
    transform: scale(1.1);
    font-weight: 900;
}

@media only screen and (min-width:600px) {

    .slides {
        height: 8vh;
    }
}

@media only screen and (min-width:991px) {

    .displayImage {
        width: 90vw;
        max-height: 50vh;
    }

    .slides {
        height: 15vh;
    }

    .modalName {
        font-size: 1.5rem;
    }

    .closeBtn {
        top: 2%;
        right: 2%;
    }
}

@media only screen and (max-height:500px) {

    .slideContainer {
        display: none;
    }

    .modalName {
        display: none;
    }

    .modalContent {
        display: none;
    }

    .closeBtn {
        display: none;
    }

    .displayImageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0vh;
    }

    .displayImage {
        object-fit: contain;
        height: fit-content;
        max-height: 100vh;
    }
}