.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    width: 75%;
    height: 72%;
    display: grid;
    grid-template-rows: 8fr 1fr 1fr;

}

.displayImageContainer {

    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%
}

.displayImage {
    object-fit: cover;
    width: 75vw;
    height: 55vh;

}

.incBtn,
.decBtn {
    position: absolute;
    height: 100%;
    width: 5%;
    z-index: 20;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 2rem;
}

.incBtn {
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.decBtn {
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
}


.incBtn:hover,
.decBtn:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer
}

.slideContainer {
    display: flex;
    transition: 0.3 ease-in-out;
}

.slides {
    height: 15vh;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-top-width: 4px;
    transition: 0.3 ease-in-out;
}

.slides:hover {
    opacity: 0.7;
}

.modalName {
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 1%;
}

.modalContent {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 2%;
}

.closeBtn {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 4rem;
    color: white;
    background-color: transparent;
    border: none;
    transition: 0.3s ease-in-out;
}


.closeBtn:hover {
    transform: scale(1.1);
    font-weight: 900;
}


@media only screen and (max-width:480px) {

    /* phone */
    .container {
        width: 100%;
        height: 72%;
    }

    .displayImage {
        width: 100%;
        height: 65vh;
    }

    .incBtn,
    .decBtn {
        width: 10%;
    }

    .slides {
        height: 6vh;
        overflow: hidden;
    }

    .modalName {
        font-size: 1.3rem;

    }


    .closeBtn {
        font-size: 3rem;
    }

}

@media only screen and (min-width:480px) and (max-width: 599px) {

    /* tablet or big phone */
    .container {
        width: 100%;
    }

    .displayImage {
        width: 100%;
        height: 55vh;
    }

    .slides {
        height: 8vh;
    }

    .incBtn,
    .decBtn {
        width: 8%;

    }

}

@media only screen and (min-width:600px) and (max-width: 767px) {

    /* tablet */
    .slides {
        height: 8vh;
    }

    .incBtn,
    .decBtn {
        width: 9%;

    }

}

@media only screen and (min-width:768px) and (max-width: 991px) {

    /* small laptop */
    .slides {
        height: 10vh;
    }


    .incBtn,
    .decBtn {
        width: 9%;

    }
}