.btnContainer {
    width: 80vw;
    max-width: 800px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3vh;
    border: 1px dashed red;
    margin-bottom: 10%;
    justify-items: center;

}




@media only screen and (min-width:768px) {

    /* small laptop */
    .btnContainer {

        grid-template-columns: 1fr 1fr 1fr 1fr;
    }



}

@media only screen and (min-width:992px) {

    /* laptop */

}

@media only screen and (min-width:1200px) and (max-width: 1919px) {
    /* desktopscreen */


}

@media only screen and (min-width:1920px) {

    /*  big desktops or highdef */

}