.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin-top: 3vh;
    width: 100vw;
    overflow: scroll;
}

.container {
    width: 90vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 3vh;
}

.projects {
    font-size: 3rem;
    color: #f0f0f0;
    margin-bottom: 1rem;
}




@media only screen and (min-width:768px) {

    /* small laptop */
    .container {
        flex-direction: row;
        gap: 2vh;
        margin-bottom: 3vh;
        width: 70%;
        min-width: 80vw;
        justify-content: space-between;
        align-items: center;
    }

}