.container {
    width: 70%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    padding: 0% 2% 0% 2%;
    align-items: center;
    border: 1px dashed red;
}




@media only screen and (max-width:480px) {

    /* phone */

}

@media only screen and (min-width:480px) and (max-width: 599px) {

    /* tablet or big phone */

}

@media only screen and (min-width:600px) and (max-width: 767px) {

    /* tablet */


}

@media only screen and (min-width:992px) and (max-width: 1199px) {

    /* laptop */


}

@media only screen and (min-width:1200px) and (max-width: 1919px) {
    /* desktopscreen */


}

@media only screen and (min-width:1920px) {
    /*  big desktops or highdef */

}