.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin-top: 3vh;
    width: 100vw;

}

.container {
    width: 91vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-bottom: 3vh;
    overflow: scroll;
}

.projects {
    font-size: 3rem;
    color: #f0f0f0;
    margin-bottom: 1rem;
}


.container::-webkit-scrollbar {
    width: 0;
}

.container::-webkit-scrollbar:horizontal {

    height: 6px;
}




@media only screen and (min-width:768px) {

    /* small laptop */
    .container {
        flex-direction: row;
        width: 80%;
        gap: 2vh;
        overflow-x: scroll;

    }

}